<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/"> 
  <link rel="stylesheet" href="/css/styles.css">
  <title>Quiz App</title>
</head>
<body class="body-index">
  <div class="container-welcome">
    <h1 class="h1-index">HI, THERE
      <P class="p-index">Welcome back!</P>
    </h1>


    <div class="container-ranking">
      <a class="my-ranking" href="/quiz/Entertainment%3A%20Music">LAST QUIZ PLAYED</a>
      <a class="global-ranking" href="quiz/Entertainment%3A%20Film">TRENDY QUIZ </a>
  </div>
    <div class="img-profile">
    </div>
  </div>

  <div class="container-quizzes">

    <h1 class="h1-index">Let's do it
      <P class="p-index">Select the topic</P>
    </h1>

    <div class="content-quizz-box">
<a href="quiz/General%20Knowledge"> 
    <img src="/images/question-mark.jpg" alt="General Knowledge">
    General Knowledge
  </a>

  <a href="quiz/Entertainment%3A%20Film"> 
    <img src="/images/movies.jpg" alt="Films">
    Films
  </a>

  <a href="quiz/Entertainment%3A%20Music"> 
    <img src="/images/music.jpg" alt="Music">
    Music
  </a>

  <a href="quiz/Entertainment%3A%20Television"> 
    <img src="/images/tv.jpg" alt="Television">
    Television
  </a>

    </div>
  </div>
</body>
</html>
