<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/"> 
  <link rel="stylesheet" href="/css/styles.css">
  <title>Quiz App</title>
</head>
<body class="body-index">
  <div class="container-welcome">
    <h1 class="h1-index">HI, JOSE
      <P class="p-index">Welcome back!</P>
    </h1>


    <div class="container-ranking">
      <div class="my-ranking">MY RANKING
        <div class="ranking-number">2000</div>
      </div>
      <a class="global-ranking" href="/global-ranking">Global Ranking</a>
  </div>
    <div class="img-profile"></div>
  </div>

  <div class="container-quizzes">

    <h1 class="h1-index">Let's do it
      <P class="p-index">Select the topic</P>
    </h1>

    <div class="content-quizz-box">
      <a href="/general"> 
        <img src="" alt="">
        General Knowledge
      </a>

      <a href="/film"> 
        <img src="" alt="">
        Films
      </a>

      <a href="/music"> 
        <img src="" alt="">
        Music
      </a>

      <a href="/television"> 
        <img src="" alt="">
        Television
      </a>

    </div>
  </div>
</body>
</html>
