<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/"> 
  <link rel="stylesheet" href="/css/styles.css">
  <title>Quiz App</title>
</head>
<body class="body-index">
  <div class="container-welcome">
    <h1 class="h1-index">HI, JOSE
      <P class="p-index">Welcome back!</P>
    </h1>
    <div class="img-profile"></div>
  </div>

  <div class="ranking-content">
    <div class="ranking-item your">
      <span class="label">Your Ranking:</span>
      <span class="value">#42</span>
    </div>
    <div class="ranking-item global">
      <span class="label">Global Ranking:</span>
      <span class="value">#15</span>
    </div>
  </div>

  <h1 class="h1-index">LET'S PLAY</h1>

  <div class="content-quizz-box">
    <a href="/general"> 
      <img src="" alt="">
      General Knowledge
    </a>
    <a href="/film"> 
      <img src="" alt="">
      Films
    </a>
    <a href="/music"> 
      <img src="" alt="">
      Music
    </a>
    <a href="/television"> 
      <img src="" alt="">
      Television
    </a>
  </div>
</body>
</html>
