<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/"> 
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sign-Up</title>
</head>
<body>
    <div class="content-box">
        <div class="button-toggle">
            <button class="signin-top">Sign In</button>
            <button class="signup-top">Sign Up</button> 
        </div>  
        <div class="container">
            <input type="text" placeholder="Enter Username" name="uname" required>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <input type="password" placeholder="Re-Enter Password" name="psw" required>
            <button type="submit">Sign up</button>
          </div>    
    </div>   
</body>
</html>