@import 'variables';

h1 {
    font-family: $font-poppins;
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    line-height: $h1-line-height;
    color: $h1-color;
  }
  
  h2 {
    font-family: $font-poppins;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    line-height: $h2-line-height;
    color: $h2-color;
  }
  
  body {
    font-family: $font-roboto;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    color: $body-text-color;
  }
  
  small {
    font-family: $font-roboto;
    font-size: $small-text-font-size;
    font-weight: $small-text-font-weight;
    line-height: $small-text-line-height;
    color: $small-text-color;
  }
  